<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-40">
        <ul class="contact-list">
          <li>
            {%- if site.github.username %}
            <a class="nontext footer-link"
              href="{{ site.github.username | prepend: 'https://github.com/' | xml_escape }}">
              <i class="fab fa-github fa-fw"></i>
              {{ site.github.username }}
            </a>
            {%- endif %}
          </li>
          <li>
            {%- if site.email %}
            <a class="nontext footer-link" href="{{ site.email | prepend: 'mailto:' }}">
              <i class="far fa-envelope fa-fw"></i>
              {{ site.email | replace: '@', '[at]' | replace: '.', '[dot]' }}
            </a>
            {%- endif %}
          </li>
          <li>
            {%- if site.linkedin.username %}
            <a class="nontext footer-link"
              href="{{ site.linkedin.username | prepend: 'https://linkedin.com/li/' | xml_escape }}">
              <i class="fab fa-linkedin fa-fw"></i>
              {{ site.linkedin.username }}
            </a>
            {%- endif %}
          </li>
        </ul>
      </div>
      {%- unless site.disable_social %}
      <div class="footer-col footer-col-25">
        <ul class="social-media-list">
          <li>
            {%- if site.facebook.username %}
            <a class="nontext footer-link"
              href="{{ site.facebook.username | prepend: 'https://facebook.com/' | xml_escape }}">
              <i class="fab fa-facebook fa-fw"></i>
              {{ site.facebook.username }}</a>
            {%- endif %}
          </li>
          <li>
            {%- if site.twitter.username %}
            <a class="nontext footer-link"
              href="{{ site.twitter.username | prepend: 'https://twitter.com/' | xml_escape }}">
              <i class="fab fa-twitter fa-fw"></i>
              {{ site.twitter.username }}</a>
            {%- endif %}
          </li>
        </ul>
      </div>
      {%- endunless %}
      <div class="footer-col footer-col-35 footer-col-right">
        <p>{{ site.description }}</p>
      </div>
      {% include custom-footer.html %}
    </div>
  </div>
</footer>