<footer class="site-footer">
  <section class="wrapper">
    <div class="footer-col-wrapper">
      <nav class="footer-col footer-col-wrapper footer-col-no-margin">
        <div class="footer-col footer-col-50">
          <h1 class="footer-logo">
            {%- if site.logo %}
            <img alt="logo" class="footer-logo-image" src="{{ site.logo | relative_url }}" />
            {%- else %}
            {%- endif %}
            {{ site.title | xml_escape }}
          </h1>
          <span class="footer-description">{{ site.description }}</span>
        </div>
        <ul class="social-list-horiz footer-col footer-col-50">
          <li>
            <a class="nontext footer-link" href="{{ site.feed.path | default: '/feed.xml' }}">
              <span>RSS</span>
            </a>
          </li>
          {%- if site.github.username or site.email or site.linkedin.username %}
          {%- if site.email %}
          <li>
            <a class="nontext footer-link" href="{{ site.email | prepend: 'mailto:' }}">
              <span>Email</span>
            </a>
          </li>
          {%- endif -%}
          {%- if site.github.username %}
          <li>
            <a class="nontext footer-link" href="{{ site.github.username | prepend: 'https://github.com/' | escape }}">
              <span>GitHub</span>
            </a>
          </li>
          {%- endif -%}
          {%- if site.linkedin.username %}
          <li>
            <a class="nontext footer-link"
              href="{{ site.linkedin.username | prepend: 'https://linkedin.com/in/' | escape }}">
              <span>LinkedIn</span>
            </a>
          </li>
          {%- endif %}
          {%- endif -%}
          {%- if site.nadya.social %}
          {%- if site.facebook.username or site.twitter.username or site.instagram.username %}
          {%- if site.facebook.username %}
          <li>
            <a class="nontext footer-link"
              href="{{ site.facebook.username | prepend: 'https://facebook.com/' | escape }}">
              <span>Facebook</span>
            </a>
          </li>
          {%- endif %}
          {%- if site.twitter.username %}
          <li>
            <a class="nontext footer-link"
              href="{{ site.twitter.username | prepend: 'https://twitter.com/' | escape }}">
              <span>Twitter</span>
            </a>
          </li>
          {%- endif %}
          {%- if site.instagram.username %}
          <li>
            <a class="nontext footer-link"
              href="{{ site.instagram.username | prepend: 'https://instagram.com/' | escape }}">
              <span>Instagram</span>
            </a>
          </li>
          {%- endif %}
          {%- endif %}
          {%- endif %}
        </ul>
      </nav>
      {%- include custom-footer.html %}
      {%- if site.nadya.attribution %}
      <div class="footer-col footer-col-100 footer-col-center footer-col-attribution">
        <small class="footer-meta-attribution">
          <a class="nontext" href="https://github.com/ramottamado/nadya">nadya</a> &mdash; theme by
          <a class="nontext" href="https://tamado.codes">ramottamado</a>
        </small>
      </div>
      {%- endif %}
    </div>
  </section>
</footer>