<head>
  {% include constants.liquid -%}

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#1b1f24" />

  <title>
    {%- if page.layout == "page" or page.layout == "post" -%}
    {{ title | xml_escape }} | {{ site.title | xml_escape }}
    {%- else -%}
    {{ title | xml_escape }} | {{ site_description }}
    {%- endif -%}
  </title>

  {% if site.google_site_verification -%}
  <meta name="google-site-verification" content="{{ site.google_site_verification }}" />
  {% endif -%}
  <meta name="description" content="{{ description }}" />
  <meta name="author" content="{{ author | join: ', ' }}" />
  {% if site.twitter.username -%}
  <meta name="twitter:site" content="{{ site.twitter.username | prepend: '@' }}" />
  {% if author == site.author -%}
  <meta name="twitter:creator" content="{{ site.twitter.username | prepend: '@' }}" />
  {% endif -%}
  {% endif -%}
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:card" content="{{ twitter_card }}" />
  <meta name="twitter:image" content="{{ image }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  {% if site.facebook.author and author == site.author -%}
  <meta property="article:author" content="https://www.facebook.com/{{ site.facebook.author }}" />
  {% endif -%}
  {% for tags in page.tags %}
  <meta property="article:tags" content="{{ tags }}" />{% endfor %}
  {% if site.facebook.publisher -%}
  <meta property="article:publisher" content="https://www.facebook.com/{{ site.facebook.publisher }}" />
  <meta property="fb:pages" content="{{ site.facebook.publisher }}" />
  {% endif -%}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' }}" />
  {% if site.logo -%}
  <link rel="icon" sizes="192x192" href="{{ rel_logo }}" />
  {% elsif site.icon -%}
  <link rel="icon" href="{{ rel_icon }}" />
  {% endif -%}
  {% if site.icon -%}
  <link rel="alternate icon" href="{{ rel_icon }}" />
  <link rel="shortcut icon" href="{{ rel_icon }}" />
  {% endif -%}
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}" />

  <script src="{{ '/assets/js/nav.js' }}"></script>
  <script defer src="{{ '/assets/js/fontawesome.min.js' }}"></script>
  <script defer src="{{ '/assets/js/brands.min.js' }}"></script>
  <script defer src="{{ '/assets/js/regular.min.js' }}"></script>
  <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?12.0.4"></script>
</head>