<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
  {%- if page.title -%}
    {%- if page.layout == "page" -%}
      {{ page.title | xml_escape }} &mdash; {{ site.title | xml_escape }}
    {%- else -%}
      {{ page.title | xml_escape }}
    {%- endif -%}
  {%- else -%}
    {{ site.title | xml_escape }}
  {%- endif -%}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#1b1f24" />
  {%- if site.google_site_verification %}
  <meta name="google-site-verification" content="{{ site.google_site_verification }}" />
  {%- endif %}
  <meta name="description" content="{%- if page.description -%}{{ page.description | strip_html | normalize_whitespace }}{%- elsif page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{%- else -%}{{ site.description | strip_html | normalize_whitespace }}{%- endif -%}" />
  <meta name="author" content="{%- if page.author -%}{{ page.author }}{% else %}{{ site.author }}{%- endif -%}" />
  {%- if site.twitter_username %}
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.twitter_username }}" />
  {%- endif %}
  <meta name="twitter:title" content="{%- if page.title -%}{{ page.title }}{% else %}{{ site.title }}{%- endif -%}" />
  <meta name="twitter:description" content="{%- if page.description -%}{{ page.description | strip_html | normalize_whitespace }}{%- elsif page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{%- else -%}{{ site.description | strip_html | normalize_whitespace }}{%- endif -%}" />
  <meta name="twitter:card" content="{% if page.image %}summary_large_image{% else %}summary{% endif %}" />
  <meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.logo | absolute_url }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{%- if page.title -%}{{ page.title }}{% else %}{{ site.title }}{%- endif -%}" />
  <meta property="og:description" content="{%- if page.description -%}{{ page.description | strip_html | normalize_whitespace }}{%- elsif page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{%- else -%}{{ site.description | strip_html | normalize_whitespace }}{%- endif -%}" />
  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.logo | absolute_url }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  {%- if site.fb_article %}
  {%- if site.fb_pages %}
  <meta property="article:publisher" content="https://www.facebook.com/{{ site.fb_pages }}" />
  {%- endif %}
  {%- if site.fb_author %}
  <meta property="article:author" content="https://www.facebook.com/{{ site.fb_author }}" />
  {%- endif %}
  {% for tags in page.tags %}<meta property="article:tags" content="{{ tags }}" />{% endfor %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
  <meta property="fb:pages" content="{{ site.fb_pages }}" />
  {%- endif %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" }}" />
  <link rel="shortcut icon" href="{{ site.icon | relative_url }}" />
  <link rel="icon" sizes="192x192" href="{{ site.logo | relative_url }}" />
  <link rel="alternate icon" href="{{ site.icon | relative_url }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/atom/" | absolute_url }}" />
  <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?12.0.4"></script>
  <script defer src="{{ "/assets/js/fontawesome.min.js" }}"></script>
  <script defer src="{{ "/assets/js/brands.min.js" }}"></script>
  <script defer src="{{ "/assets/js/regular.min.js" }}"></script>
</head>
