<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#1b1f24" />

  <link rel="stylesheet" href="{{ '/assets/css/style.css' }}" />
  {% if site.logo -%}
  <link rel="icon" sizes="192x192" href="{{ rel_logo }}" />
  {% elsif site.icon -%}
  <link rel="icon" href="{{ rel_icon }}" />
  {% endif -%}
  {% if site.icon -%}
  <link rel="alternate icon" href="{{ rel_icon }}" />
  <link rel="shortcut icon" href="{{ rel_icon }}" />
  {% endif -%}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}" />

  <script src="{{ '/assets/js/nav.js' }}"></script>
  <script defer src="{{ '/assets/js/fontawesome.min.js' }}"></script>
  <script defer src="{{ '/assets/js/brands.min.js' }}"></script>
  <script defer src="{{ '/assets/js/regular.min.js' }}"></script>
  <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?12.0.4"></script>

  {% seo %}
</head>