<figure class="image">
  <img src="{{ include.src }}" alt="{{ include.alt }}" width="{{ include.width | default: '800' }}"
    height="{{ include.height | default: '450' }}"
    style="max-width: {{ include.maxwidth | default: '100%' }}; object-fit: {{ include.objectfit | default: 'contain' }}; aspect-ratio: {{ include.width | default: '800' }}/{{ include.height | default: '450' }}">
  <figcaption>
    <div data-nosnippet>
      <p class="fa-fw">
        {% include fontawesome/image.svg %}
      </p>
      {{ include.alt }}
    </div>
  </figcaption>
</figure>