/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

::selection {
  background: $selection-color;
}

::-moz-selection {
  background: $selection-color;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $grey-color;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

strong {
  font-weight: $x-bold-font-weight;
}

/**
 * Header
 */
header {
  font-family: $head-font-family;
  color: $brand-color;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

p > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

/**
 * Figures
 */
figure {
  padding-bottom: 1em;

  > *:not(figure) {
    margin-bottom: 0.5em !important;
  }
}

figure > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  // border: 1px dashed black; // debug

  &.preview {
    width: 100%;
    aspect-ratio: 16 / 9;
    mix-blend-mode: multiply;
    object-fit: contain;
  }

  @include media-query($on-palm) {
    max-width: 100% !important;
  }
}

figcaption {
  border-bottom: 1px solid $grey-color;
  color: $grey-color;
  font-size: $small-font-size;
  font-family: $base-font-family;
  font-style: normal;
  text-align: left;
  padding: (0.5 * $small-font-size) 0;

  > * {
    display: inline !important;
  }
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
  &,
  &:visited {
    color: $link-color;
    text-decoration: none;

    &:not(.nontext, .post-tag, .logo):hover {
      text-decoration: underline $link-color;
    }
  }

  &:active,
  &:hover,
  &:focus {
    color: $link-color;
    text-decoration: none;
  }
}

/**
 * Blockquotes
 */
blockquote {
  font-family: $bq-font-family;
  color: $grey-color;
  border-left: 2px solid $grey-color;
  padding: $spacing-unit / 2;
  background-color: unset;
  font-style: italic;

  > p {
    @include relative-font-size(1.125);
  }

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-family: $code-font-family;
  @include relative-font-size(0.875);
}

code {
  padding: 3px;
  border-radius: 3px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  margin-bottom: unset;
  border: 1px dashed $border-color;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.wrapper-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align: text-bottom;

    path {
      fill: $grey-color;
    }
  }
}

/**
 * Tables
 */
table {
  width: 100%;
  text-align: $table-text-align;
  color: $text-color;
  border-collapse: collapse;

  tr {
    &:nth-child(even) {
      background-color: $grey-color-light;
    }
  }

  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }

  th {
    color: $text-color;
    background-color: $grey-color-light;
    border-bottom: 2px solid $grey-color;
    border-top: 2px solid $grey-color;
  }

  td {
    border-bottom: 1px solid $grey-color;
  }
}

figure.highlight > pre {
  padding: 0;
}

code > .rouge-table {
  pre {
    border: unset !important;
    // padding: 0 !important;
  }

  td {
    border-bottom: unset !important;
    padding: unset;

    &.gutter {
      border-right: 1px dashed $border-color;
    }
  }
}

.post-content > table {
  margin-bottom: $spacing-unit;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}

.table-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin-bottom: $spacing-unit;

  > div {
    margin-top: 1em;
  }

  table {
    white-space: nowrap;
    width: 100%;
    word-break: normal;
  }
}

/**
 * End
 */
div.end {
  padding-top: $spacing-unit;
}
