/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--color-accent-muted);
}

::-moz-selection {
  background: var(--color-accent-muted);
}

/**
 * Basic styling
 */
body {
  font-family: $body-font;
  font-size: var(--typography-font-size-2);
  font-weight: 400;
  line-height: var(--typography-line-height-default);
  color: var(--color-fg-default);
  background-color: var(--color-canvas-default);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--color-fg-muted);
  height: 0.25em;
  margin: var(--spacing-spacer-5) 0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: var(--spacing-spacer-3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--typography-line-height-condensed);
}

strong {
  font-weight: 600;
}

small {
  font-size: 90%;
}

/**
 * Header
 */
header {
  font-family: $body-font;
  color: var(--color-fg-default);
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

p > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

/**
 * Figures
 */
figure {
  figure {
    margin-bottom: unset !important;
  }

  > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
    // border: 1px dashed black; // debug
  }
}

figcaption {
  border-bottom: 1px solid var(--color-fg-muted);
  color: var(--color-fg-muted);
  font-size: var(--typography-font-size-1);
  font-family: $body-font;
  font-style: normal;
  text-align: left;
  padding: var(--spacing-spacer-2) 0;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: var(--spacing-spacer-5);
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/**
 * Links
 */
a {
  &,
  &:visited {
    color: var(--color-accent-fg);
    text-decoration: none;

    &:not(.nontext, .post-tag, .logo):hover {
      text-decoration: underline var(--color-accent-fg);
    }
  }

  &:active,
  &:hover,
  &:focus {
    color: var(--color-accent-fg);
    text-decoration: none;
  }
}

/**
 * Blockquotes
 */
blockquote {
  font-family: $body-font;
  color: var(--color-fg-muted);
  border-left: 0.25em solid var(--color-border-default);
  padding: 0 1em;
  background-color: unset;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code,
tt,
samp,
kbd {
  font-family: $mono-font;
}

pre,
code,
tt {
  background: var(--color-canvas-subtle);
  padding: 0em 0.1em;
  border-radius: 3px;
}

code,
tt,
kbd {
  font-size: 90%;
}

kbd {
  box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
  background-color: var(--color-btn-bg);
  border: 1px solid var(--color-btn-border);
  padding: 0.2em 0.5em;
  border-radius: 6px;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  code,
  tt,
  pre {
    font-size: inherit;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(#{$content-width} + (2 * var(--spacing-spacer-5)));
  max-width: -webkit-calc(#{$content-width} + (2 * var(--spacing-spacer-5)));
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-spacer-3);
  padding-left: var(--spacing-spacer-3);
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    padding-right: var(--spacing-spacer-5);
    padding-left: var(--spacing-spacer-5);
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Tables
 */
table {
  width: 100%;
  text-align: left;
  color: var(--color-fg-default);
  border-collapse: collapse;

  tr {
    &:nth-child(even) {
      background-color: var(--color-canvas-subtle);
    }
  }

  th,
  td {
    padding: var(--spacing-spacer-2) var(--spacing-spacer-2);
  }

  th {
    color: var(--color-fg-default);
    background-color: var(--color-canvas-subtle);
    border-bottom: 2px solid var(--color-fg-muted);
    border-top: 2px solid var(--color-fg-muted);
  }

  td {
    border-bottom: 1px solid var(--color-fg-muted);
  }
}

.post-content > table {
  margin-bottom: var(--spacing-spacer-5);
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}

/**
 * End
 */
div.end {
  padding-top: var(--spacing-spacer-5);
}

/**
 * Footnotes
 */
div.footnotes {
  border-top: 2px solid var(--color-fg-muted);
  margin-top: var(--spacing-spacer-5);
  font-size: 0.875em;
  line-height: var(--typography-line-height-default);

  ol {
    margin-left: var(--spacing-spacer-3);
  }

  li > p {
    margin: var(--spacing-spacer-2) 0;
  }
}
