---
---

@charset "utf-8";

// Font stacks
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji" !default;

// Monospace font stack
// Note: SFMono-Regular needs to come before SF Mono to fix an older version of the font in Chrome
$mono-font: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

// Import partials.
@import "primer/colors/light", "primer/spacing/normal", "primer/typography/normal";
@import "base", "layout", "highlight";

/**
 * Primer Color System
 */
:root {
  @include primer-colors-light;
  @include primer-spacing-normal;
  @include primer-typography-normal;

  --brand-color: {{ site.nadya.brand_color | default: '#1f1b24' }};
}
