---
layout: page
---
{% if site.posts.size > 0 %}
{% assign uncategorized_exists = false %}
{% for post in site.posts %}
{% if post.categories.size == 0 %}
{% assign uncategorized_exists = true %}
{% break %}
{% endif -%}
{% endfor %}
<div class="tags-list" data-nosnippet>
  {% for cat in site.categories %}
  <a href="#{{ cat[0] | slugify }}" class="post-tag">{{ cat[0] }}</a>
  {% endfor %}
  {% if uncategorized_exists %}
  <a href="#uncategorized" class="post-tag">uncategorized</a>
  {% endif %}
</div>
<hr class="tags-hor" />
{% for cat in site.categories %}
<h3 class="post-link" id="{{ cat[0] | slugify }}">{{ cat[0] }}</h3>
<ul class="minimal">
  {% for post in cat[1] %}
  <li class="post-list">
    <span data-nosnippet>
      <info>
        {{ post.date | date: "%b %d, %Y" }}
      </info>
    </span>
    <article class="post-list-heading">
      <a class="nontext post-list-heading" href="{{ post.url }}">
        {% if post.title != "" %}
        {{ post.title }}
        {% else %}
        {{ post.slug }}
        {% endif %}
      </a>
    </article>
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% if uncategorized_exists %}
<h3 class="post-link" id="uncategorized">uncategorized</h3>
<ul class="minimal">
  {% for post in site.posts %}
  {%- if post.categories.size == 0 %}
  <li class="post-list">
    <span data-nosnippet>
      <info>
        {{ post.date | date: "%b %d, %Y" }}
      </info>
    </span>
    <article class="post-list-heading">
      <a class="nontext post-list-heading" href="{{ post.url }}">
        {% if post.title != "" %}
        {{ post.title }}
        {% else %}
        {{ post.slug }}
        {% endif %}
      </a>
    </article>
  </li>
  {% endif -%}
  {% endfor %}
</ul>
{% endif -%}
{% endif %}