---
layout: default
---
{% assign this_content = content | strip_newline | normalize_whitespace %}
{% if this_content != "" %}
{% assign this_title = page.title | default: site.title %}
<header class="post-header">
  <h1 class="post-title">{{ this_title | escape }}</h1>
</header>

<div class="post-content">
  {{ content }}
</div>

<div class="divider"></div>
{% endif %}

<div class="blog" data-nosnippet>
  <ul class="post-list">
    {%- for post in site.posts limit: 20 -%}
    <li>
      <info class="post-meta" datetime="{{ post.date | date: '%Y-%m-%d' }}">
        {{ post.date | date: "%b %d, %Y" }}
      </info>
      <article class="post-list-heading">
        <a class="nontext post-link-heading" href="{{ post.url }}">{{ post.title }}</a>
      </article>
      <p>
        {% if post.description %}
        {{ post.description | markdownify | strip_html }}
        {% else %}
        {{ post.excerpt | strip_html | truncatewords: 35 }}
        {% endif %}
        <a class="read-more" href="{{ post.url }}"><small class="post-meta">[read more]</small></a>
      </p>
    </li>
    {%- endfor -%}
  </ul>
</div>