---
layout: default
---
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "{{ site.title }}",
        "item": "{{ site.url | absolute_url }}"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.title }}",
        "item": "{{ page.url | absolute_url }}"
      }
    ]
  }
</script>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>