---
layout: default
---
{% include timer.liquid %}
{% assign authors = page.author | default: site.author -%}
{% assign this_category = page.categories[0] | default: 'uncategorized' %}
{% assign this_title = this_title | markdownify | escape %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "{{ site.title }}",
        "item": "{{ site.url | absolute_url }}"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ this_category | capitalize }}",
        "item": "{{ this_category | slugify | prepend: 'categories/#' | absolute_url }}"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "{{ this_title }}",
        "item": "{{ page.url | absolute_url }}"
      }
    ]
  }
</script>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline" {{ this_title | escape }}>
      {{ this_title | escape }}
    </h1>
    {%- if page.keywords.size > 0 %}
    <meta itemprop="keywords" content="{{ page.keywords | join: ', ' }}" />
    {%- endif %}
    {%- if page.categories.size > 0 %}
    {%- for cat in page.categories %}
    <meta itemprop="articleSection" content="{{ cat | capitalize }}" />
    {%- endfor %}
    {%- else %}
    <meta itemprop="articleSection" content="Uncategorized" />
    {%- endif %}
    <p class="post-meta">
      {%- assign date_format = site.nadya.date_format | default: "%b %d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.lastmod -%}
      ~
      {%- assign mdate = page.lastmod | date_to_xmlschema -%}
      <time class="dt-published" datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
      {%- endif -%}
      • {% for author in authors %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ author }}</span>
        {%- if author == site.author %}
        <meta itemprop="url" content="{{ site.url }}" />
        {%- if site.gravatar %}
        <meta itemprop="image" content="{{ site.gravatar | prepend: 'https://www.gravatar.com/avatar/' }}" />
        {%- endif %}
        {%- if site.social.links.size > 0 %}
        {%- for link in site.social.links %}
        <link itemprop="sameAs" href="{{ link }}" />
        {%- endfor %}
        {%- endif %}
        {%- endif %}
      </span>
      {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
      • <span>
        {{ time | append: ' read'}}
      </span>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- if page.preview %}
    {%- include preview.html %}
    {%- elsif site.icon or site.logo %}
    {% assign icon = site.icon | default: site.logo %}
    <link href="{{ icon | absolute_url }}" itemprop="image" />
    {%- endif %}

    {{ content }}
  </div>
</article>