---
layout: default
---
{% include timer.liquid %}
{% assign authors = page.author | default: site.author -%}
{% assign this_category = page.categories[0] | default: 'uncategorized' %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "{{ site.title }}",
        "item": "{{ site.url | absolute_url }}"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ this_category | capitalize }}",
        "item": "{{ this_category | prepend: 'categories/#' | absolute_url }}"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "{{ page.title }}",
        "item": "{{ page.url | absolute_url }}"
      }
    ]
  }
</script>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline" {{ page.title | escape }}>
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      {%- assign date_format = site.nadya.date_format | default: "%b %d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
      ~
      {%- assign mdate = page.modified_date | date_to_xmlschema -%}
      <time class="dt-published" datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
      {%- endif -%}
      • {% for author in authors %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ author }}</span>
        {%- if author == site.author %}
        <span itemprop="url" hidden>{{ site.url }}</span>
        {%- if site.gravatar %}
        <span itemprop="image" hidden>
          {{ site.gravatar | prepend: "https://www.gravatar.com/avatar/" }}
        </span>
        {%- endif %}
        {%- endif %}
      </span>
      {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
      • <span>
        {{ time | append: ' read'}}
      </span>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- if page.preview %}
    {%- include preview.html %}
    {%- elsif site.icon or site.logo %}
    {%- include default-preview.html %}
    {%- endif %}

    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>